body {
    margin: 10px;
}

.logo {
    max-width: 110px;
}

td, th {
    min-width: 140px;
    vertical-align: middle !important;
}

th:first-child, td:first-child {
    max-width: 200px;
}

.modal img {
    max-width: 100%;
}
.modal-content {
    text-align: center;
}