<div class="container">
    <a href="index.html">
        <img class="logo mt-2" src="https://www.google.com/intl/en_ALL/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="">
    </a>

    <h3 class="mb-4 mt-4">Recherche de livres</h3>

    <div class="input-group mb-3">
        <input id="textSearch" type="text" class="form-control" onkeyup="(event.which == 13) ? $('#btSearch').click() : null" placeholder="Saisir un mot clé ..." aria-label="Recipient's username" autocomplete="off" aria-describedby="btSearch">
        <div class="input-group-append">
            <button id="btSearch" class="btn btn-outline-secondary" type="button" onclick="indexController.searchBook()">Rechercher</button>
        </div>
    </div>

    <span id="totalItems"></span>

    <table id="dataTable" class="table table-striped mt-4" style="display: none">
        <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Date de sortie</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="titleModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="imgModal" src="" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <nav class="mt-4">
        <ul class="pagination justify-content-center d-none">
            <li class="page-item disabled previous"><a class="page-link" href="javascript:void(0)" onclick="indexController.paginationPrevious()">Précédent</a></li>
            <li class="page-item w-25 text-center disabled"><a class="page-link" href="javascript:void(0)">...</a></li>
            <li class="page-item disabled next"><a class="page-link" href="javascript:void(0)" onclick="indexController.paginationNext()">Suivant</a></li>
        </ul>
    </nav>
</div>

